.allGoods {
    float: left;
}
ul {
    text-align: center;
}

li {
    margin: 50px;
    display: inline-block;
}

img {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(17, 99, 111);
}

.desc {
    display: none;
}
.submit-button {
    border: 0px solid #000000;
    background: #ebebeb;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ebebeb));
    background: -webkit-linear-gradient(top, #ebebeb, #ebebeb);
    background: -moz-linear-gradient(top, #ebebeb, #ebebeb);
    background: -ms-linear-gradient(top, #ebebeb, #ebebeb);
    background: -o-linear-gradient(top, #ebebeb, #ebebeb);
    background-image: -ms-linear-gradient(top, #ebebeb 0%, #ebebeb 100%);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #ffffff 0 1px 0;
    color: #0d0d0c;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.submit-button:hover {
    border: 0px solid #ffffff;
    text-shadow: #ffffff 0 1px 0;
    background: #c1b193;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1b193), to(#c1b193));
    background: -webkit-linear-gradient(top, #c1b193, #c1b193);
    background: -moz-linear-gradient(top, #c1b193, #c1b193);
    background: -ms-linear-gradient(top, #c1b193, #c1b193);
    background: -o-linear-gradient(top, #c1b193, #c1b193);
    background-image: -ms-linear-gradient(top, #c1b193 0%, #c1b193 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #000000 0 1px 0;
    border: 0px solid #ffffff;
    background: #c1b193;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1b193), to(#c1b193));
    background: -webkit-linear-gradient(top, #c1b193, #c1b193);
    background: -moz-linear-gradient(top, #c1b193, #c1b193);
    background: -ms-linear-gradient(top, #c1b193, #c1b193);
    background: -o-linear-gradient(top, #c1b193, #c1b193);
    background-image: -ms-linear-gradient(top, #c1b193 0%, #c1b193 100%);
    color: #fff;
}