.form-container {
    border: 0px solid #ebebeb;
    background: #11626f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#11626f));
    background: -webkit-linear-gradient(top, #ebebeb, #11626f);
    background: -moz-linear-gradient(top, #ebebeb, #11626f);
    background: -ms-linear-gradient(top, #ebebeb, #11626f);
    background: -o-linear-gradient(top, #ebebeb, #11626f);
    background-image: -ms-linear-gradient(top, #ebebeb 0%, #11626f 100%);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width:300px;
    padding:20px;
    width:300px;
}
.form-field {
    border: 1px solid #c1b193;
    background: #ebebeb;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field:focus {
    background: #ffffff;
    color: #000000;
}
.form-container h2 {
    text-shadow: #ebebeb 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-bottom:10px;
    color: #000000;
    text-shadow: #ebebeb 0 1px 0;
}
.submit-container {
    margin:8px 0;
    text-align:right;
}
.submit-button {
    border: 0px solid #000000;
    background: #ebebeb;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ebebeb));
    background: -webkit-linear-gradient(top, #ebebeb, #ebebeb);
    background: -moz-linear-gradient(top, #ebebeb, #ebebeb);
    background: -ms-linear-gradient(top, #ebebeb, #ebebeb);
    background: -o-linear-gradient(top, #ebebeb, #ebebeb);
    background-image: -ms-linear-gradient(top, #ebebeb 0%, #ebebeb 100%);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #ffffff 0 1px 0;
    color: #0d0d0c;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
.submit-button:hover {
    border: 0px solid #ffffff;
    text-shadow: #ffffff 0 1px 0;
    background: #c1b193;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1b193), to(#c1b193));
    background: -webkit-linear-gradient(top, #c1b193, #c1b193);
    background: -moz-linear-gradient(top, #c1b193, #c1b193);
    background: -ms-linear-gradient(top, #c1b193, #c1b193);
    background: -o-linear-gradient(top, #c1b193, #c1b193);
    background-image: -ms-linear-gradient(top, #c1b193 0%, #c1b193 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #000000 0 1px 0;
    border: 0px solid #ffffff;
    background: #c1b193;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1b193), to(#c1b193));
    background: -webkit-linear-gradient(top, #c1b193, #c1b193);
    background: -moz-linear-gradient(top, #c1b193, #c1b193);
    background: -ms-linear-gradient(top, #c1b193, #c1b193);
    background: -o-linear-gradient(top, #c1b193, #c1b193);
    background-image: -ms-linear-gradient(top, #c1b193 0%, #c1b193 100%);
    color: #fff;
}
.container {
    float: left;
    padding-top: 5%;
    padding-left: 26%;
}