.form-title {
    margin-bottom:10px;
    color: #000000;
    text-shadow: #ebebeb 0 1px 0;
}
.form-field {
    border: 1px solid #11626f;
    background: #ebebeb;
    color: #000000;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    width:280px;
}
.form-field:focus {
    background: #ffffff;
    color: #000000;
}
.submit-button {
    background: #ebebeb;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#ebebeb));
    background: -webkit-linear-gradient(top, #ebebeb, #ebebeb);
    background: -moz-linear-gradient(top, #ebebeb, #ebebeb);
    background: -ms-linear-gradient(top, #ebebeb, #ebebeb);
    background: -o-linear-gradient(top, #ebebeb, #ebebeb);
    background-image: -ms-linear-gradient(top, #ebebeb 0%, #ebebeb 100%);
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #ffffff 0 1px 0;
    color: #0d0d0c;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    left: 253%;
}
.submit-button:hover {
    text-shadow: #ffffff 0 1px 0;
    background: #c1b193;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1b193), to(#c1b193));
    background: -webkit-linear-gradient(top, #c1b193, #c1b193);
    background: -moz-linear-gradient(top, #c1b193, #c1b193);
    background: -ms-linear-gradient(top, #c1b193, #c1b193);
    background: -o-linear-gradient(top, #c1b193, #c1b193);
    background-image: -ms-linear-gradient(top, #c1b193 0%, #c1b193 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #000000 0 1px 0;
    background: #c1b193;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1b193), to(#c1b193));
    background: -webkit-linear-gradient(top, #c1b193, #c1b193);
    background: -moz-linear-gradient(top, #c1b193, #c1b193);
    background: -ms-linear-gradient(top, #c1b193, #c1b193);
    background: -o-linear-gradient(top, #c1b193, #c1b193);
    background-image: -ms-linear-gradient(top, #c1b193 0%, #c1b193 100%);
    color: #fff;
}
.container {
    float: top;
    padding-top: 5%;
    padding-left: 26%;
}