<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans.xsd
                 http://www.springframework.org/schema/security
                 http://www.springframework.org/schema/security/spring-security.xsd">


    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/index.html" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"/>
        <form-login login-page="/login.html"
                    default-target-url="/index"
                    authentication-failure-url="/errors/403.html"/>
        <logout logout-url="/logout" logout-success-url="/index"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                                  users-by-username-query=
                                          "SELECT USERNAME,PASSWORD,ENABLED FROM user WHERE USERNAME =?"
                                  authorities-by-username-query="SELECT USERNAME,ROLE FROM user WHERE USERNAME =?"
        />
        </authentication-provider>
    </authentication-manager>
</beans:beans>